@font-face {
    font-family: 'Vinque';
    src: url('vinque.otf') format('opentype'); /* Adjust the path if necessary */
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    background: black;
}
.button-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.center-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure that the content is above the background */
    position: absolute;
    width: 300px;
    background: burlywood;
    border-radius: 4px;
    border: 1px solid firebrick;
    color: black;
    padding: 10px 30px;
}

.background-container {
    position: absolute;
    width: 100%;
    height: 200%; /* Make it twice as tall to allow scrolling */
    background: url('../card-background.jpg') no-repeat center center fixed;
    background-size: cover;
    animation: moveBackground 120s linear infinite; /* Adjust the duration as needed */
}

@keyframes moveBackground {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}

.image-container {
    display: flex;
    animation: roll 120s linear infinite;
}

.image-container img {
    width: auto;
    height: 50vh;
    margin-right: 10px;
}

@keyframes roll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.centered-text {
    text-align: center;
    margin-top: 10px;
    font-size: 1.7rem;
    font-family: 'Vinque', sans-serif;
}

.light-text {
    color: burlywood;
}

.next-page-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: firebrick;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
