<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>trAIding-cards</title>
</head>
<body>
    <div class="background-container">
        <!-- Your website content goes here -->
    </div>
    <div class="center-container">
        <div class="centered-text">
            <p>Welcome to tr<b>AI</b>ding-cards.</p>
        </div>
        <button class="next-page-button" onclick="location.href='create'">Start</button>
    </div>

    <script src="script.js"></script>
</body>
</html>
